<h1>Register User</h1>

<%= form_for User.new do |f| %>
    <% flash.each do |key, msg| %>
        <div><%= msg %></div>
    <% end %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit  "Register" %>
<% end %>
