<head>
</head>

<body>
    <div class= "signup-form">
        <h1>Register User</h1>
        <%= form_for User.new do |f| %>
        <% flash.each do |key, msg| %>
            <div><%= msg %></div>
        <% end %>
        <div class='login-params'>
        <%=f.label :name %><br>
        <%=f.text_field :name %><br>
        <%= f.label :email %><br>
        <%= f.email_field :email %><br>
        <%= f.label :password %><br>
        <%= f.password_field :password %><br>
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %><br>
        </div>
        <div class="signup-button">
        <%= f.submit  "Register", :class => 'btn btn-md btn-primary' %>
        <% end %>
        </div>
    </div>
</body>
