

<h1>Profile</h1>

<div> Name: <%= @user.name %> <br>
email: <%= @user.email %>
</div>

 <ul> <%= @user.name %>'s Activities
     <% @activities.each do |activity| %>
         <li>
             <strong> <%= activity.name %> </strong> - <%= activity.description %>
             <%= link_to "More info", activity_path(activity) %>
         </li>
     <% end %>
 </ul>

