<div class= 'panels'>
  <div class='profile col-md-5'>
    <div class= 'profile-params'>
    <strong> Name: </strong><br>
    <%= @user.name %> <br>
    <strong> Contact <%= @user.name %> </strong><br>
    <%= @user.email %> <br>
    </div>
  </div>

  <div class= 'profile-activities col-md-5'>
    <strong> <%= @user.name %>'s Activities </strong>
    <ul class='activities-profile' style='list-style: none'>
      <% @activities.each do |activity| %>
      <li><%= link_to activity.name, activity_path(activity) %></li>
       <% end %>
   </ul>
  </div>
</div>


