<h1>Users#update</h1>
<p>Find me in app/views/users/update.html.erb</p>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div>
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this change from being saved:</h2>
      <ul>
      <% @user.each do |m| %>
        <li><%= name %></li>
        <li><%= email %></li>
        <li><%= password %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
  </div>
  <div>
<% if @user == current_user %>
    <%= f.button do %>
       Update
    <% end %>
  </div>
<% end %>
