<header>
  <%= link_to 'Home', home_path %>
  <%= link_to 'Logout', session_path('dummy'), method: :delete %>
</header>

<body>
<h1>Activities</h1>
 <ul>
     <% @activities.each do |activity| %>
         <li>
             <strong> <%= activity.name %> </strong> - <%= activity.description %>
             <%= link_to "More info", activity_path(activity) %>
         </li>
     <% end %>
 </ul>

 </body>


