 <h1> <%= @activity.name %> </h1>

 <p><%= @activity.name %> - <%= @activity.description %></p>
 <%= link_to "edit", edit_activity_path(@activity) %>
 <%= link_to "delete", activity_path, method: :delete, data: {confirm: "Are you sure you want to delete this bean?"} %>
 <%= link_to "Back to the list!", activities_path %>
