<head></head>
<body>
<div class='panels'>
  <div class='show-activity col-md-5'>
    <h2> <%= @activity.name %> </h2>
    <strong>Organizer: </strong><br>
    <%= link_to @activity.user.name, user_path(@organizer) %><br>
    <strong>Location: </strong><br>
    <%= @activity.location %><br>
    <strong>When is happening: </strong><br>
    <%= @activity.date %> at <%= @activity.time %><br>
    <strong>Duration: </strong><br>
    <%= @activity.duration %> hours<br>
    <strong>Description: </strong><br>
    <%= @activity.description %><br>
    <% if @activity.user == current_user %>
      <%= link_to "edit", edit_activity_path(@activity) %>
      <%= link_to "delete", activity_path, method: :delete, data: {confirm: "Are you sure you want to delete this bean?"} %>
    <% end %>
    <div class='activity-buttons'>
  <%= link_to "Back", activities_path, :class => 'btn btn-md btn-primary back' %>
    </div>
    </div>
    <div class='show-reviews col-md-5'>
    <h3>Reviews</h3>
    <%= render 'reviews/form' %>
      <ul>
         <% @comments.each do |comment| %>
             <li>
                 <strong> <%= comment.user.name %> </strong> - at: <%= comment.created_at %> said:<br>
                 <%= comment.content %>
                 <% if comment.user == current_user %>
                 <%= link_to "edit", edit_review_path(comment) %>
                 <% end %>
             </li>
         <% end %>
      </ul>
    </div>
  </div>
</body>
