  <%= form_for @review do |f| %>
    <div><%= current_user.name %></div>
     <div>
         <%= f.label :content %>
         <%= f.text_field :content %>
     </div>
     <%= f.submit "Add Review!" %>
 <% end %>
